<div class="w-full h-full flex-column border-round-right-3xl overflow-hidden" style="background-color: rgba(0,0,0,0.8);color: rgba(255,255,255,0.8);">
    <!-- Header -->
    <div class="ml-3 flex text-4xl sticky top-0 bg-inherit">
        <div class="mt-3">{{departmentName}} Department</div>
    </div>

    <!-- Menu items-->
    <div class="mt-4 overflow-y-auto" style="height: calc(100vh - 80px);">
        <app-menu></app-menu>
    </div>

    <!-- Footer -->
    <div>
        
    </div>
</div>
